[workspace]
authors = ["Tony Reina <tbreina@bu.edu>"]
channels = ["conda-forge"]
name = "lora"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[system-requirements]
cuda = "12.0"

[dependencies]
pytorch-gpu = "*"
python = ">=3.13.9,<3.14"
transformers = ">=4.57.1,<5"
peft = ">=0.18.0,<0.19"
jupyter = ">=1.1.1,<2"
gliner = "*"
accelerate = ">=1.12.0,<2"
bitsandbytes = ">=0.49.0,<0.50"
trl = ">=0.26.2,<0.27"
datasets = ">=3.0.0"
flash-attn = ">=2.8.3,<3"
pillow = ">=12.1.0,<13"

[pypi-dependencies]
loguru = ">=0.7.3, <0.8"
