[workspace]
authors = ["Tony Reina <tbreina@bu.edu>"]
channels = ["conda-forge"]
name = "lora"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[environments]
docs = ["docs"]
cuda = ["cuda"]

[dependencies]
# Common dependencies that don't require CUDA
python = ">=3.13.9,<3.14"
pillow = ">=12.1.0,<13"
pre-commit = ">=4.5.1,<5"
ruff = ">=0.14.10,<0.15"

[pypi-dependencies]
loguru = ">=0.7.3, <0.8"

[feature.cuda.system-requirements]
cuda = "12.0"

[feature.cuda.dependencies]
pytorch-gpu = "*"
transformers = ">=4.57.1,<5"
peft = ">=0.18.0,<0.19"
jupyter = ">=1.1.1,<2"
gliner = "*"
accelerate = ">=1.12.0,<2"
bitsandbytes = ">=0.49.0,<0.50"
trl = ">=0.26.2,<0.27"
datasets = ">=3.0.0"
flash-attn = ">=2.8.3,<3"
mkdocs = ">=1.6.1,<2"
mkdocs-material = ">=9.7.1,<10"
pymdown-extensions = ">=10.20,<11"

[feature.cuda.pypi-dependencies]
mkdocs-minify-plugin = ">=0.8.0, <0.9"

[feature.docs.dependencies]
mkdocs = ">=1.6.1,<2"
mkdocs-material = ">=9.7.1,<10"
pymdown-extensions = ">=10.20,<11"

[feature.docs.pypi-dependencies]
mkdocs-minify-plugin = ">=0.8.0, <0.9"
