[workspace]
authors = ["Tony Reina <tbreina@bu.edu>"]
channels = ["conda-forge"]
name = "lora"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[system-requirements]
cuda = "12.0"

[dependencies]
pytorch-gpu = "*"
python = ">=3.13.9,<3.14"
transformers = ">=4.57.1,<5"
peft = ">=0.18.0,<0.19"
jupyter = ">=1.1.1,<2"
